<p>Author: <%= @bounty.master.username %></p>
<%= link_to "#{@bounty.issue.project.name}", @bounty.issue.project.repo_url %></p>
<p>Issue: <%= @bounty.issue.name %></p>
<p>Sum: <%= @bounty.sum %></p>
